<div *ngIf="pokemon" class="pokemon-container">
  <img src="{{pokemon.imageUrl}}" alt="Image of {{ pokemon.name }}" style="display: block; margin: 0 auto;">


  <div class="attribute-box">
    <span class="attribute-label">Pokemon ID:</span>
    <span class="attribute-value">[{{pokemon.id}}]</span>
  </div>

  <div class="attribute-box">
    <span class="attribute-label">Pokemon name:</span>
    <span class="attribute-value">{{pokemon.name}}</span>
  </div>

  <div class="attribute-box">
    <span class="attribute-label">Pokemon height and weight:</span>
    <span class="attribute-value">[{{pokemon.height}}] - [{{pokemon.weight}}]</span>
  </div>

  <div class="attribute-box">
    <span class="attribute-label">Pokemon type:</span>
    <span class="attribute-value">{{pokemon.types}}</span>
  </div>

  <div class="attribute-box">
    <span class="attribute-label">Pokemon family:</span>
    <span class="attribute-value">{{pokemon.family}}</span>
  </div>

  <br/>
  <button type="button" (click)="goBack()">GO BACK</button>
</div>
