label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}
button {
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.pokemon-container {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  border: 5px solid #355e3b;
  background-color: #589c5a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pokemon-container img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.pokemon-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.pokemon-container div {
  margin-bottom: 5px;
}

.pokemon-container span {
  font-weight: bold;
}

.pokemon-container button {
  background-color: #2b7907;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pokemon-container button:hover {
  background-color: #0056b3;
}


.pokemon-image {
  display: block;
  margin: 0 auto;
}

.attribute-box {
  background-color: #355e3b;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.attribute-label {
  font-weight: bold;
}

.attribute-value {
  color: rgb(57, 236, 51);
  margin-left: 5px;
}

h2{
  color: rgb(57, 236, 51);
  margin-left: 5px;
}

