<app-pokemon-search (search)="search($event)"></app-pokemon-search>
<ul>
    <li *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }"
        routerLink="/detail/{{pokemon.id}}">
        <img src="{{pokemon.imageUrl}}" alt="Logo da Aplicação" style="display: block; margin: 0 auto;"> {{ pokemon.name }} - {{pokemon.types}}
    </li>
</ul>
<div class="pagination">
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>